/*

macphage.github.io
animation.css

This website is open-source.
http://github.com/macphage/macphage.github.io/

*/

a:link {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}
a:visited {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}
a:hover {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}