// All site styling is done from here and auto-compiled with...
// https://github.com/jdiehl/brackets-less-autocompile

@import "mixins.less";

@text-normal: rgb(50,50,50);
@text-grey: rgb(100,100,100);
@text-white: rgb(245,245,245);

a {
    color:#3798eb;
    text-decoration:none
}
a:focus, a:hover {
    color:#23527c;
    text-decoration:underline
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

.box {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px;
    width: 100%;
    text-overflow: ellipsis;
}

body {
    overflow-x: hidden;
    color: @text-normal;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    background: #fff;
}

.canvas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 150%!important;
    width: 100%;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero {
    font-family: "Roboto", sans-serif;
    
    h1 {
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    h5 {
        margin-top: 0!important;
        margin-bottom: 20px;
        font-weight: 300;
    }
    
}


.content {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Lora", sans-serif;
    
    .container {
        padding-top: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    h5 {
        font-size: 1.64rem;
        font-weight: 700;
    }
    
    p {
        font-size: 1.2rem;
    }
}

.footer {
    width: 70%;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    p {
        display: inline-block;
    }
    
    .divider {
        width: 100%;
    }
}


