.MainTitle {
    font-size: 300%;
    padding-bottom: 5%;
}

.MainSubtitle {
    font-size: 50%;
}

.AboutTitle {
    font-size: 175%;
}

.AboutBio {
    font-size: 125%;
}

.PortfolioContentContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.PortfolioMainTitle {
    font-size: 250%;
    padding-bottom: 0px;
}

.PortfolioMainSubtitle {
    font-size: 50%;
}

.PortfolioAboutTitle {
    font-size: 175%;
}

.PortfolioAboutBio {
    font-size: 125%;
}

.PortfolioJumbotron {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.JumboTitle {
    text-align: left;
}
.JumboSubtitle {
    font-size: 75%
        text-align: right;
}