.MainTitle {
    font-size: 500%;
    padding-bottom: 5%;
}

.MainSubtitle {
    font-size: 40%;
}

.AboutTitle {
    font-size: 200%;
}

.AboutBio {
    font-size: 150%;
}

.PortfolioContentContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.PortfolioJumbotron {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.JumboTitle {
    text-align: left;
}
.JumboSubtitle {
    font-size: 75%
        text-align: right;
}