/*

ruthlessphysics.com
css-core
common.css

This website is open-source.
http://github.com/macphage/macphage.github.io/

*/

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(0,0,0);
}

#MainContentBox {
    background: rgba(255,255,255,0.8);
}

#EndFooter {
    color: rgba(255,255,255,0.9);
    background: rgba(10,10,10,0.75);
}

.background {
    background: rgba(255,255,255,0.9);
}

a:link {
    color: rgb(68,166,244)!important;
}
a:visited {
    color: rgb(255,155,75)!important;
}
a:hover {
    color: rgb(7,216,216)!important;
}
a:active {
    color: rgb(224, 74, 109)!important;
}