#MainTitle {
    font-family: "HelveticaNeue-Thin";
    font-size: 700%;
    padding-top: 100px;
    word-wrap: break-word;
}

#MainSubtitle {
    font-family: "HelveticaNeue-Light";
    font-size: 40%;
    padding-top: 0px;
    position: relative;
    bottom: 0px;
    word-wrap: break-word;
}

.fixthisplease {
    position: relative;
    top: -70px;
}



#AboutTitle {
    font-family: "Roboto-Light";
    font-size: 300%;
}

#AboutBio {
    font-family: "Roboto-Light";
    font-size: 150%;
    line-height: 125%;
    padding-left: 0px;
    padding-right: 0px;
}

#MainContentContainer {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0px;
}

#MainContentBox {
    display: block;
    padding: 1%;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
}

#EndFooter {
    font-family: "Roboto-Condensed";
    font-weight: bold;
    font-size: 100%;
    display: block;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    padding: 1%;
}