@media all and (max-device-width: 720px){
    #MainTitle {
    font-family: "HelveticaNeue-Thin";
    font-size: 350%;
    padding-top: 100px;
    word-wrap: break-word;
    }
    .fixthisplease {
    position: relative;
    top: -30px;
    }
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}