@font-face {
    font-family: "RobotoThin";
    src: url(../font/Roboto-Thin.ttf) format("truetype");
}
p.r {
    font-family: "RobotoThin", Verdana, Tahoma;
    text-align: center;
    color:rgb(0,0,0);
}
/* unvisited link */
a:link {
    color: rgb(68,166,244);
}

/* visited link */
a:visited {
    color: rgb(255,155,75);
}

/* mouse over link */
a:hover {
    color: rgb(7,184,216);
}

/* selected link */
a:active {
    color: rgb(224, 74, 109);
}
