@font-face {
    font-family: "RobotoThin";
    src: url(../font/Roboto-Thin.ttf) format("truetype");
}
p.r {
    font-family: "RobotoThin", Verdana, Tahoma;
    color:rgb(0,0,0);
}
/* unvisited link */
a:link {
color: rgb(0,0,0);
}

/* visited link */
a:visited {
color: rgb(0,0,0);
}

/* mouse over link */
a:hover {
color: rgb(0,0,0);
}

/* selected link */
a:active {
color: rgb(0,0,0);
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
    color: #2d3a3f;
    padding-top: 60px;
}

.box {

    display: block;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 3px;
    margin: 10px 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
