@font-face {
    font-family: "RobotoThin";
    src: url(../font/Roboto-Thin.ttf) format("truetype");
}
p.r {
    font-family: "RobotoThin", Verdana, Tahoma;
    text-align: center;
    color:rgb(0,0,0);
}
a:link {
    color: rgb(68,166,244);
}
a:visited {
    color: rgb(255,155,75);
}
a:hover {
    color: rgb(7,184,216);
}
a:active {
    color: rgb(68,166,244);
}
