/*

macphage.github.io
special.css

This website is open-source.
http://github.com/macphage/macphage.github.io/

*/

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175% 175%;
    overflow-x: hidden;
}