@import 'bourbon/bourbon';
@import 'shadow';

.my-gallery {
    figure {
        display: inline-block;
        margin: 5px;
        text-align: center;
        figcaption {
            display: none;
        }

        img {
            @include transition(all 0.25s);
            @include z-depth-1();
            border-radius: 2px;
            &:hover {
                @include z-depth-1-half();
                @include transform(translateY(-5px));
            }
            &.square {
                @media (max-width: 359px) {
                    width: 125px;
                }
            }
        }
    }
}

.gallery-buttons .btn {
    margin: 0 3px;
}
