#NavbarBrand {
  font-family: "Roboto Condensed", "Roboto-Condensed", "Roboto", Tahoma, sans serif;
  font-weight: 500;
}

#NavbarItem {
  font-family: "Roboto Condensed", "Roboto-Condensed", "Roboto", Tahoma, sans serif;
  font-weight: 500;
  font-size: 112.5%;
}

#MainContentContainer {
  padding-top: 75px;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

#PrimaryContentBox {
  display: block;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  padding: 2%;
  background: rgba(255,255,255,0.5);
}

#SecondaryContentBox {
  display: block;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  padding: 2%;
  background: rgba(255,255,255,0.5);
}
