@-webkit-keyframes splash {
	0% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
	50% {
		-webkit-transform: scale(1.2,1.2) rotate(-10deg);
		-moz-transform: scale(1.2,1.2) rotate(-10deg);
		-o-transform: scale(1.2,1.2) rotate(-10deg);
		transform: scale(1.2,1.2) rotate(-10deg);
	}
	100% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
}

.motd {
	-webkit-animation: splash 0.5s linear infinite;
	-moz-animation: splash 0.5s linear infinite;
	-o-animation: splash 0.5s linear infinite;
	animation: splash 0.5s linear infinite;
} 

a:link {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}
a:visited {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}
a:hover {
    -webkit-transition: color 500ms;
    -ms-transition: color 500ms;
    -moz-transition: color 500ms;
    transition: color 500ms;
}