/*

ruthlessphysics.com
css-core
common.css

This website is open-source.
http://github.com/macphage/ruthlessphysics/

*/

.common {
    color: rgb(0,0,0);
}

.box {
    background: rgba(255,255,255,0.9);
}

.background {
    background: rgba(255,255,255,0.9);
}