.shadowed {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
        Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.shadowedsmall {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.30));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
        Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.shadowedtiny { /* FOR IMAGES*/
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
        Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}