/*

ruthlessphysics.com
css-core
shapes.css

This website is open-source.
http://github.com/macphage/ruthlessphysics/

*/

.container {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 980px;
    color: #2d3a3f;
    padding-top: 60px;
}

.box {
    text-align: center;
    align-self: center;
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.octicon_a {
    font-size: 50px!important;
}
.octicon_p {
    font-size: 47px!important;
}

.socialico_a {
    font-size: 65px!important;
}
.socialico_p {
    font-size: 69px!important;
}