#Header {
    font-size: 24pt;
}

#Items {
	font-size: 18pt;
}

#MainContentBox {
    font-family: "Helvetica Neue Light","Segoe UI Light", sans serif;
	margin-top: 10%;
	padding: 5%;
	display: block;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	background: rgba(255,255,255,0.5);
    color: black;
}

#Footer {
    font-family: "Helvetica Neue","Segoe UI", sans serif;
    font-weight: bold;
    font-style: condensed;
    padding: 5%;
	display: block;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	background: rgba(0,0,0,0.75);
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    color: white;
}